footer {
    background-color: #f5f5f5; /* Couleur de fond claire */
    padding: 20px;
    text-align: center;
}

footer h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    display: inline-block;
    margin: 0 10px;
}

footer ul li a {
    color: #333; /* Couleur de texte sombre */
    text-decoration: none;
}

footer img{
    width: 10%;
}